a:link, a:visited {
    text-decoration: underline
}

a:hover, a:focus {
    text-decoration: none
}

a:not([class]):matches(:link, :visited) {
    color: #000000;
    text-decoration: underline
}

a:not([class]):matches(:hover, :focus) {
    color: #cc0000; /* Was #ca002e; - For WCAG Contrast Ratio */
    text-decoration: none
}

a.tableHeaderLink:link, a.tableHeaderLink:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #2a3d47;
    font-weight: bold;
    text-decoration: underline
}

a.tableHeaderLink:hover, a.tableHeaderLink:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #cc0000;
    font-weight: bold;
    text-decoration: underline
}

a.tableDataLink:link, a.tableDataLink:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #2a3d47;
    text-decoration: underline
}

a.tableDataLink:hover, a.tableDataLink:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #cc0000;
    text-decoration: underline
}

.legalLink:link, .legalLink:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #2a3d47;
    text-decoration: underline
}

.legalLink:hover, .legalLink:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #cc0000; /* Was #ca002e; - For WCAG Contrast Ratio */
    text-decoration: underline
}

a.PromoBold:link, a.PromoBold:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #2A3D47;
    text-decoration: underline
}

a.PromoBold:hover, a.PromoBold:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #cc0000;
    text-decoration: underline
}

/*  ASleight - Not referenced anywhere.
.menuPartsClass:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    background-image: url(#)
}

.menuPartsClass:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background-image: url(#)
}

.menuPartsClass:matches(:hover, :focus) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #2A3D47;
    background-image: url(#)
}*/

a.menuClass:link, a.menuClass:visited, a.menuClass:active {
    background: url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
    width: 88px;
    height: 33px;
    /*padding-top: 10px;*/
    display: table-cell;
    text-align: center;
    vertical-align: middle; /* top; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    color: #000000;
    text-decoration: none;
}

a.menuClass:hover, a.menuClass:focus {
    background: url(../images/sp_int_head_nav_on-89.gif) no-repeat;
    color: #ffffff;
    /*  ASleight - The styles below should inherit from the base link type.
    width: 88px;
    height: 33px;
    padding-top: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 8px;
    text-decoration: none;*/
}


/* ASleight - These were redundant, for the sake of two-line buttons. Fixed the CSS for "menuClass" so it doesn't matter.
a.menuClassSA:link {
    background: url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
    width: 88px;
    height: 33px;
    padding-top: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    color: #000000;
    text-decoration: none;
}

a.menuClassSA:visited {
    background: url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
    width: 88px;
    height: 33px;
    padding-top: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    color: #000000;
    text-decoration: none;
}

a.menuClassSA:matches(:hover, :focus) {
    background: url(../images/sp_int_head_nav_on-89.gif) no-repeat;
    width: 88px;
    height: 33px;
    padding-top: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    color: #ffffff;
    text-decoration: none;
}

a.menuClassOM:link {
    background: url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
    width: 86px;
    height: 33px;
    padding-top: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 8px;
    color: #000000;
    text-decoration: none;
}

a.menuClassOM:visited {
    background: url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
    width: 86px;
    height: 33px;
    padding-top: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 8px;
    color: #000000;
    text-decoration: none;
}

a.menuClassOM:matches(:hover, :focus) {
    background: url(../images/sp_int_head_nav_on-89.gif) no-repeat;
    width: 86px;
    height: 33px;
    padding-top: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 8px;
    color: #ffffff;
    text-decoration: none;
}*/

/* ASleight - This Class is not used anywhere. 
.menuClass1:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    height: 29px;
    width: 104px;
    background-image: url(../images/sp_int_head_nav_off_big.GIF)
}

.menuClass1:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    height: 29px;
    width: 104px;
    background-image: url(../images/sp_int_head_nav_off_big.GIF)
}

.menuClass1:matches(:hover, :focus) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    height: 29px;
    width: 104px;
    background-image: url(../images/sp_int_head_nav_on-big.gif)
}

.menuSoftwareClass:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    background-image: url(#)
}

.menuSoftwareClass:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background-image: url(#)
}

.menuSoftwareClass:matches(:hover, :focus) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #2A3D47;
    background-image: url(#)
}

.menuTrainingClass:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    background-image: url(#)
}

.menuTrainingClass:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background-image: url(#)
}

.menuTrainingClass:matches(:hover, :focus) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #2A3D47;
    background-image: url(#)
}
*/

.bodyCopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #666666
}

.bodyCopyAnchor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #0066ff
}

.bodyCopySM {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: #666666
}

.bodyCopyBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #666666;
    font-weight: bold
}

.bodyCopyBoldBigText2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 13px;
    color: #666666;
    font-weight: bold
}

.bodyCopyBoldBigText1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: #666666;
    font-weight: bold
}

.bodyCopyEPurchase {
    font-family: Arial, Helvetica, Black;
    font-size: 12px;
    line-height: 12px;
    color: Black
}

.bodyCopyEPurchaseBold {
    font-family: Arial, Helvetica, Black;
    font-size: 12.5px;
    font-weight: bold;
    line-height: 13px;
    color: Black
}

.tableHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #2a3d47;
    font-weight: bold
}

.tableData {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #2a3d47;
    font-weight: normal
}

.legalCopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #2a3d47;
    font-weight: normal
}

.memberName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: bold
}

.memberMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #99a8b5;
    font-weight: bold
}

.finderCopyDark {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #333333
}

.finderSubhead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #2a3d47;
    font-weight: bold
}

.popupCopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 13px;
    color: #2a3d47
}

.popupCopyBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #2a3d47;
    font-weight: bold
}

.popupCurrentModel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: normal
}

.popupRedPrice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ea132e; /* Was #ca002e; - For WCAG Contrast Ratio */
    font-weight: bold
}

.popupLargeCopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2a3d47;
    font-weight: bold;
    line-height: 14px
}

/* 2018-07-18 Lightened colour for WCAG - contrast ratio. */
.redAsterick {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #cc0000; /* Was #ca002e; - For WCAG Contrast Ratio */
    font-weight: bold
}

.promoCopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #2A3D47;
}

.promoCopyBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #2A3D47;
    font-weight: bold
}

a.promoCopyBold:hover, a.promoCopyBold:focus {
    color: #cc0000;
    text-decoration: none;
}

.promoCopyRed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #ca002e;
    font-weight: bold
}

.promoCopyMid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 14px;
    color: #2A3D47;
}

.promoCopySmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 10px;
    color: #5d7180
}

.headerBig {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000
}

.promoCopyTop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #0E3E6F;
    font-weight: bold
}

.ItemsInCart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #ca002e;
    font-weight: bold
}

.promoCopyBlue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #330033;
    font-weight: bold
}

.LocationCopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #3a6ea5;
    font-weight: bold
}

.PromoWhiteText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

a.PromoBoldWhite:link, a.PromoBoldWhite:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

a.PromoBoldWhite:hover, a.PromoBoldWhite:focus {
    color: #cc0000;
    text-decoration: none;
}

.bodyCopySMWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff
}

.headerText {
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerTitle {
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerTitleEW {
    font-weight: Bold;
    font-size: 12px;
    color: #000000;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    text-align: center;
}

.hidden {
    display: none
}


.sortedASC {
    background-color: #99a8b5;
    background-image: url(../images/arrow_up.gif);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: grab;
}

.sortedDESC {
    background-color: #99a8b5;
    background-image: url(../images/arrow_down.gif);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: grab;
}

.HighlightedText {
    color: #FFFFFF;
    background-color: #003399;
}

.productPriceBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: Black;
    font-weight: bold;
}

.productPrice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: Black;
}

.productPriceHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 13px;
    background-color: Gray;
    color: Black;
    font-weight: bold;
}

.productPriceCell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 13px;
    background-color: #99a8b5;
    color: Black;
}

/*Styles added by Sneha on 21/10/2013 */
.modalpopup-title {
    font-size: 16px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modalpopup-content {
    font-size: 11px;
    line-height: 13px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-weight: bold;
}

/* Added by Andrew Sleight 2016-03-17 for Flag Image border issues in Chrome */
img[src=''], img:not([src]) {
    opacity: 0;
}

a > img {
    border: none;
}

/* Added by Jezreel N. 2016-10-12*/
.uploadBgStyle {
    background-color: #7E99AD;
}

/* 2018-09-11 ASleight - Added for WCAG compliance, which requires H1 headings on all pages instead of our current use of ASP:Label controls */
h1, h2, h3 {
    margin: 0px;
}

caption {   /* 2018-09-24 ASleight - Added for WCAG compliance, where tables should have Captions for screen readers, but not show in regular browsing. */
    display: none;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0px;
}