<%@ Page Language="VB" AutoEventWireup="false" CodeFile="printer-service-result.aspx.vb" Inherits="ServicePLUSWebApp.PrinterServiceResult" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ServicesPLUS - Product Registration</title>
    <script language="javascript">
        function PrintPage()
        {     
            setTimeout('window.print ()',1000)       
            //window.print ();
            //this.close ();
            setTimeout('window.close()',2000)
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <table cellpadding=3 cellspacing=1 border=0 style="width: 93%;font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: 666666; border-bottom-width:1px; border-right-color:666666; border-right-style:solid; border-right-width:1px; border-left-color:666666; border-left-style:solid; border-left-width:1px; border-top-color:666666; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:666666">
        <tr valign=top>
            <td style="border-bottom-style:solid; border-bottom-width:thin;"><img src="https://www.servicesplus.sel.sony.com/images/sp_int_sonylogo.gif" /></td>
            <td  style="border-bottom-style:solid; border-bottom-width:thin;" align=right valign=middle>&nbsp;</td>
        </tr>
        <tr valign=top>
            <td colspan="2" style="border-bottom-style:solid; border-bottom-width:thin;">
                <table border="0" cellpadding="1" cellspacing="1" style="width: 100%">
                    <tr>
                        <td colspan="2" style="height: 16px" align=left>
                            <strong>ServicesPLUS - Product Registration
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px">
                        </td>
                        <td style="width: 100px">
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
        
        <tr valign=top >
            <td style="width: 173px;">Date:</td>
            <td style="width: 376px;"><%=DateTime.Now.ToString("MM/dd/yyyy")%></td>
        </tr>
        <tr valign=top bgColor="#d5dee9">
            <td style="width: 173px;">Customer Address:</td>
            <td style="width: 376px;"><%=sCustomerAddress%></td>
        </tr>
        <tr valign=top>
                <td style="width: 173px;">Service Address:</td>
                <td style="width: 376px;"><%=sServicesAddress%></td>
        </tr>
            
             
        <tr valign=top bgColor="#d5dee9">
                <td  colspan=2 style="width: 173px">Ptoduct List:</td>
        </tr>
        <tr valign=top>
            <td style="width: 173px" colspan=2>
            <table width="97%" border="0" align=center>
			    <tr >
					    <td width="3" height="18"><img height="15" src="../images/spacer.gif" width="3"></td>
					    <td colSpan="1" height="18">
					        <asp:DataGrid ID="dgProduct" runat=server AutoGenerateColumns="False" CellPadding="4" ForeColor="#333333" GridLines="None" Width="100%" >
                                <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                                <EditItemStyle BackColor="#2461BF" />
                                <SelectedItemStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" Font-Italic="False" Font-Overline="False" Font-Strikeout="False" Font-Underline="False" />
                                <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                                <AlternatingItemStyle BackColor="White" Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False" Font-Underline="False" />
                                <ItemStyle BackColor="#EFF3FB" Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False" Font-Underline="False" />
                                <HeaderStyle BackColor="#D5DEE9" Font-Bold="True"  CssClass="tableHeader" />
                                <Columns>
                                    <asp:BoundColumn DataField="ProductCode" HeaderText="Product Code">
                                        <ItemStyle Font-Bold="False" CssClass="bodyCopy" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                            Font-Underline="False" HorizontalAlign="Left" VerticalAlign="Middle" />
                                        <HeaderStyle Width="20%" />
                                    </asp:BoundColumn>
                                    <asp:BoundColumn DataField="ModelNumber"  HeaderText="Model Number">
                                        <ItemStyle Font-Bold="False" CssClass="bodyCopy" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                            Font-Underline="False" HorizontalAlign="Left" VerticalAlign="Middle" />
                                        <HeaderStyle Width="20%" />
                                    </asp:BoundColumn>
                                    <asp:BoundColumn DataField="PurchaseDate" HeaderText="Purchase Date">
                                        <ItemStyle Font-Bold="False" CssClass="bodyCopy" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                            Font-Underline="False" HorizontalAlign="Left" VerticalAlign="Middle" />
                                        <HeaderStyle Width="20%" />
                                    </asp:BoundColumn>
                                    <asp:BoundColumn DataField="SerialNumber" HeaderText="Serial Number">
                                        <ItemStyle Font-Bold="False" CssClass="bodyCopy" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                            Font-Underline="False" HorizontalAlign="Left" VerticalAlign="Middle" />
                                        <HeaderStyle Width="25%" />
                                    </asp:BoundColumn>
                                    <asp:TemplateColumn>
                                        <HeaderStyle Width="5%" />
                                        <ItemTemplate>
                                            <asp:ImageButton ID="imgDeleteProduct" CommandName = "Delete" runat=server ImageUrl="images/Delete.gif" AlternateText="Remove this product" />
                                        </ItemTemplate>
                                        <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                            Font-Underline="False" HorizontalAlign="Right" VerticalAlign="Middle" />
                                    </asp:TemplateColumn>
                                    <asp:BoundColumn DataField="ItemID" HeaderText="ItemId" Visible=false>
                                    </asp:BoundColumn>
                                </Columns>
						        
					        </asp:DataGrid>
					    </td>
				    </tr>
	            <tr>
		            <td width="3" height="18"><img height="15" src="../images/spacer.gif" width="3"></td>
                    <td width="3" colspan=1 height="18" ></td>
                </tr>
		    </table>
            </td>
        </tr>
    </table>
    
    </form>
</body>
</html>
