a.Body:link {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #666666; text-decoration: underline }
a.Body:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #000000; text-decoration: underline }
a.Body:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #ca002e; text-decoration: underline }

a.tableHeaderLink:link { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #2a3d47; font-weight: bold; text-decoration: underline }
a.tableHeaderLink:visited { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #000000; font-weight: bold; text-decoration: underline }
a.tableHeaderLink:hover { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #ca002e; font-weight: bold; text-decoration: underline }

a.tableDataLink:link { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #2a3d47; text-decoration: underline }
a.tableDataLink:visited { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #000000; text-decoration: underline }
a.tableDataLink:hover { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #ca002e; text-decoration: underline }

a.legalLink:link { font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 11px; color: #2a3d47; text-decoration: underline }
a.legalLink:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 11px; color: #000000; text-decoration: underline }
a.legalLink:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 11px; color: #ca002e; text-decoration: underline }

a.PromoBold:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #2A3D47; text-decoration: underline }
a.PromoBold:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #2A3D47; text-decoration: underline  }
a.PromoBold:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #2A3D47; text-decoration: underline  }

.menuPartsClass:link { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #333333; background-image:url(#) }
.menuPartsClass:visited { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #000000;  background-image:url(#) }
.menuPartsClass:hover  { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #2A3D47; background-image:url(#) }

a.menuClass:link 
{	
background:url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
width: 88;height: 33px;padding-top:10;display: table-cell; text-align: center;vertical-align:top;
font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 8px; color: #000000;text-decoration:none;

}
a.menuClass:visited 
{
	background:url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
	width: 88;height: 33px;padding-top:10;display:table-cell; text-align: center;vertical-align:top;
	 font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 8px;
	  color: #000000;text-decoration:none;}
a.menuClass:hover  
{
	background:url(../images/sp_int_head_nav_on-89.gif) no-repeat;
	width: 88;height: 33px;padding-top:10;display: table-cell; text-align: center;vertical-align:top;
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;  font-weight: bold; line-height: 8px; color: #ffffff; text-decoration:none;}


a.menuClassSA:link 
{	
background:url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
width: 88;height: 33px;padding-top:5;display: table-cell; text-align: center;vertical-align:top;
font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 10px; color: #000000;text-decoration:none;

}
a.menuClassSA:visited 
{
	background:url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
	width: 88;height: 33px;padding-top:5;display:  table-cell; text-align: center;vertical-align:top;
	 font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 10px;
	  color: #000000;text-decoration:none;}
a.menuClassSA:hover  
{
	background:url(../images/sp_int_head_nav_on-89.gif) no-repeat;
	width: 88;height: 33px;padding-top:5;display:  table-cell; text-align: center;vertical-align:top;
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;  font-weight: bold; line-height: 10px; color: #ffffff; text-decoration:none;}

a.menuClassOM:link 
{	
background:url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
width: 86;height: 33px;padding-top:10;display: table-cell; text-align: center;vertical-align:top;
font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 8px; color: #000000;text-decoration:none;

}
a.menuClassOM:visited 
{
	background:url(../images/sp_int_head_nav_off_89.GIF) no-repeat;
	width: 86;height: 33px;padding-top:10;display:table-cell; text-align: center;vertical-align:top;
	 font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 8px;
	  color: #000000;text-decoration:none;}
a.menuClassOM:hover  
{
	background:url(../images/sp_int_head_nav_on-89.gif) no-repeat;
	width: 86;height: 33px;padding-top:10;display: table-cell; text-align: center;vertical-align:top;
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;  font-weight: bold; line-height: 8px; color: #ffffff; text-decoration:none;}


.menuClass1:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; color: #000000; text-decoration:none; height:29px; width:104px; background-image:url(../images/sp_int_head_nav_off_big.GIF) }
.menuClass1:visited { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; color: #000000;text-decoration:none; height:29px; width:104px; background-image:url(../images/sp_int_head_nav_off_big.GIF)}
.menuClass1:hover  { font-family: Arial, Helvetica, sans-serif; font-size: 12px;  font-weight: bold; line-height: 16px; color: #ffffff; text-decoration:none;  height:29px; width:104px; background-image:url(../images/sp_int_head_nav_on-big.gif)}


.menuSoftwareClass:link { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #333333;  background-image:url(#) }
.menuSoftwareClass:visited { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #000000; background-image:url(#) }
.menuSoftwareClass:hover  { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #2A3D47; background-image:url(#) }

.menuTrainingClass:link { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #333333;  background-image:url(#) }
.menuTrainingClass:visited { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #000000;  background-image:url(#) }
.menuTrainingClass:hover  { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #2A3D47;background-image:url(#) }


.bodyCopy {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #666666}
.bodyCopyAnchor {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #0066ff}
.bodyCopySM {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; color: #666666}
.bodyCopyBold { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #666666 ; font-weight: bold}

.bodyCopyBoldBigText2 { font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; color: #666666 ; font-weight: bold}
.bodyCopyBoldBigText1 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 13px; color: #666666 ; font-weight: bold}

.bodyCopyEPurchase {  font-family: Arial , Helvetica, Black; font-size: 12px; line-height: 12px; color: Black}
.bodyCopyEPurchaseBold {  font-family: Arial , Helvetica, Black; font-size: 12.5px;font-weight: bold;  line-height: 13px; color: Black}
.tableHeader { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #2a3d47; font-weight: bold }
.tableData { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #2a3d47; font-weight: normal}
.legalCopy { font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 11px; color: #2a3d47; font-weight: normal }
.memberName { font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 14px; color: #FFFFFF; font-weight: bold}
.memberMessage { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #99a8b5; font-weight: bold }
.finderCopyDark { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #333333}
.finderSubhead { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #2a3d47; font-weight: bold}
.popupCopy { font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 13px; color: #2a3d47}
.popupCopyBold { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #2a3d47 ; font-weight: bold}
.popupCurrentModel { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #000000; font-weight: normal}
.popupRedPrice { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #ca002e; font-weight: bold}
.popupLargeCopy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #2a3d47; font-weight: bold ; line-height: 14px}
.redAsterick { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ca002e; font-weight: bold }
.promoCopy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #2A3D47; }
.promoCopyBold { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #2A3D47; font-weight: bold }
.promoCopyRed { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #ca002e; font-weight: bold}
.promoCopyMid { font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 14px; color: #2A3D47; }
.promoCopySmall { font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 10px; color: #5d7180}
.headerBig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000}
.promoCopyTop { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 14px; color: #0E3E6F; font-weight: bold }
.ItemsInCart { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #ca002e; font-weight: bold }

.promoCopyBlue { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px; color: #330033 ; font-weight: bold}

.LocationCopy{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: #3a6ea5; font-weight: bold}

.PromoWhiteText{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #ffffff;  }

a.PromoBoldWhite:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #ffffff; text-decoration: underline; font-weight: bold }
a.PromoBoldWhite:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #ffffff; text-decoration: underline; font-weight: bold  }
a.PromoBoldWhite:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #ffffff; text-decoration: underline; font-weight: bold  }

.bodyCopySMWhite {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px; color: #ffffff}
.headerText
{
	font-weight: normal;
	font-size: 24px;
	color: #ffffff;
	line-height: 29px;
	font-family: Arial, Helvetica, sans-serif;
}

.headerTitle
{
	font-weight:normal;
	font-size: 18px;
	color: #000000;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.headerTitleEW
{
	font-weight:Bold;
	font-size: 12px;
	color: #000000;
	line-height: 35px;
	font-family: Arial, Helvetica, sans-serif;
}
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	text-align:center;
}
.hidden {display:none}


.sortedASC 
{ 

background-color:#99a8b5; 
background-image: url(../images/arrow_up.gif); 
background-position: center right; 
background-repeat:no-repeat; 
cursor:hand; 
} 

.sortedDESC 
{ 

background-color:#99a8b5; 
background-image: url(../images/arrow_down.gif); 
background-position: center right; 
background-repeat:no-repeat; 
cursor:hand; 
} 
.HighlightedText
{
    color: #FFFFFF;
    background-color: #003399;
}
.productPriceBold 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 13px; 
	color: Black; 
	font-weight: bold ;
}
	.productPrice 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 13px; 
	color: Black; 
	 
}
	
	.productPriceHeader 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 13px; 
	background-color:Gray;
	color: Black; 
	font-weight: bold ;
	 
}
		
	.productPriceCell 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 13px; 
	background-color:#99a8b5; 
	 color: Black; 
}





/* Added by Venkat for Tokenization to override the paymetric styles --- Start---  */

.PaymentPage_PayNowButton 
{
	visibility: hidden;
}
.DataIntercept{
    font-family: Arial;
    text-align:left;
    float:left;
    background-color:white;
    padding:0px 10px 0px 0px;
    padding-left: 0px;

     
}
.DataInterceptCreditCardType
{
    margin:5px;
    padding:5px 10px 5px 0;
    vertical-align: middle;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0px;
        
 }
.DataInterceptCreditCardNumber
{
    margin:5px;
    padding:5px 10px 5px 0;
    vertical-align: middle;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0px;
}
.DataInterceptExpirationDate
{
    margin:5px;
    padding:5px 10px 5px 0;
    vertical-align: middle;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0px;
}


#Paymetric_CVV_Row
{
    visibility: hidden;
}

.DataInterceptErrors{
    font-family: Arial;
    text-align:left;
    float:left;
    background-color:white;
    padding:0px 10px 0px 0px;
    padding-left: 0px;
    color:Red;
    font-weight:bold;
    font-size: 11px;
}



/* Added for Tokenization to override the paymetric styles --- End---  */

