
.redAsterick { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ca002e; font-weight: bold }
.Body	{ font-family: Arial, sans-serif; color: #000000; font-size: 11px; line-height: 12px }
.bodyCopy {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; color: 666666}	
a.Body:link { font-family: Arial; font-size: 11px; line-height: 12px; color: #5d7180 }
a.Body:visited { font-family: Arial; font-size: 11px; line-height: 12px; color: #666666 }
a.Body:hover { font-family: Arial; font-size: 11px; line-height: 12px; color: #cc3333 }

.BodyHead	{ color: #000000; font-family: Arial, sans-serif; font-size: 12px; line-height: 12px; font-weight: bold }
.NavOnPage	{ color:White; font-family: Arial, sans-serif; font-size: 12px; line-height: 12px; font-weight: bold }
.NavBackground	{ color:Gray; font-family: Arial, sans-serif; font-size: 12px; line-height: 12px; font-weight: bold }

.PageHead	{ color: #000000; font-family: Arial, sans-serif; font-size: 18px; line-height: 19px; font-weight: bold }


a.Nav:link { font-family: Arial; font-size: 12px; line-height: 16px; font-weight: bold; color: #ffffff; text-decoration: none }
a.Nav:visited { font-family: Arial; font-size: 12px; line-height: 16px; font-weight: bold; color: #ffffff; text-decoration: none }
a.Nav:hover { font-family: Arial; font-size: 12px; line-height: 16px; font-weight: bold; color: #94A1AA; text-decoration: none }

.Nav2 { font-family: Arial; font-size: 11px; line-height: 14px; color: #000000; text-decoration: none }
a.Nav2:link { font-family: Arial; font-size: 11px; line-height: 14px; color: #CDD9E2; text-decoration: none }
a.Nav2:visited { font-family: Arial; font-size: 11px; line-height: 14px; color: #CDD9E2; text-decoration: none }
a.Nav2:hover { font-family: Arial;  font-size: 11px; line-height: 14px; color: #94A1AA; text-decoration: none }

.Nav3 {font-family: Arial; font-size: 11px; line-height: 14px; color: White; text-decoration: none }
a.Nav3:link { font-family: Arial; font-size: 11px; line-height: 14px; color: White; text-decoration: none }
a.Nav3:visited { font-family: Arial; font-size: 11px; line-height: 14px; color: White; text-decoration: none }
a.Nav3:hover { font-family: Arial; font-size: 11px; font-weight:bold; line-height: 14px; color: White; text-decoration: none }



.Bottom	{ color: #5d7180; font-family: Arial; font-size: 9px; line-height: 18px }

a.Bottom:link	{ color: #5d7180; font-family: Arial; font-size: 9px; line-height: 18px; text-decoration: underline }
a.Bottom:visited	{ color: #666666; font-family: Arial; font-size: 9px; line-height: 18px; text-decoration: underline }
a.Bottom:hover	{ color: #cc3333; font-family: Arial; font-size: 9px; line-height: 18px; text-decoration: underline }


A
{
	color:White
}
A:active
{
	color:White
}
A:hover
{
	color:White
}
A:link
{
	color:White
}
A:visited
{
	color:White
}

HelpPanel
{
	border-right: #6699ff 1px solid;
	border-top: #6699ff 1px solid;
	font-size: 8pt;
	border-left: #6699ff 1px solid;
	color: #330099;
	border-bottom: #6699ff 1px solid;
	font-family: Arial;
	background-color: #ffff99;
	text-align: left;
}
TreeView
{
	border-right: #99cccc 1px solid;
	border-top: #99cccc 1px solid;
	font-size: 11px;
	border-left: #99cccc 1px solid;
	color: #000000;
	line-height: 12px;
	border-bottom: #99cccc 1px solid;
	font-family: Arial, sans-serif;
}

.DataGridHeader
{
	font-size: 12pt;
	font-family: Arial;	
	background-color: #ffff99;
	text-align: left;
	color:GhostWhite;	
}


DataGridBody
{
	font-size: 10pt;
	font-family: Arial;
	background-color: #ffff99;
	text-align: left;
	color:GhostWhite;	
}



HighlightRed { font-family: Arial, sans-serif; color:Red; font-size: 11px; line-height: 12px }

UserTable{font-family: Arial, sans-serif; color: Red; font-size: 8px }
.UserTable
{
	font-size: 8px;
	color: red;
	font-family: Arial, sans-serif;
}
.TableHeader
{
	font-size: 12pt;
	font-family: Arial;
	color:White;
}

.TableData
{
	font-size: 10pt;
	font-family: Arial;
	color:GhostWhite;
}

.TableDataText
{
	font-size: 9pt;
	font-family: Arial;
	color:Black;
}
