<%@ Reference Page="~/e/Utility.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SIAMAdmin.ErrorPage" CodeFile="ErrorPage.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ErrorPage</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="includes/style.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:panel id="Panel1" style="Z-INDEX: 101; LEFT: 4px; POSITION: absolute; TOP: 6px" runat="server"
				Width="457px" Height="78px" BorderStyle="Solid" BorderWidth="1px" CssClass="BodyHead" BackColor="#E0E0E0">We 
appologize for any inconvience, however an unrecoverable error has been 
encountered in the Customer Service Application. The details of the error are 
given below. Please provide this information to your support team to help them 
troubleshoot the problem.</asp:panel>
			<asp:label id="Label1" style="Z-INDEX: 102; LEFT: 3px; POSITION: absolute; TOP: 103px" runat="server"
				Width="458px" Height="205px" BorderStyle="Solid" BorderWidth="1px" CssClass="bodyhead"
				BackColor="#E0E0E0">Label</asp:label></form>
	</body>
</HTML>
