<%@ Page Language="VB" SmartNavigation="true" AutoEventWireup="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body onload="window.location='default.aspx';">
    <form id="form1" runat="server">
    <div>
        <table align=center >
            <tr>
                <td valign=middle align=center style="height: 518px">
                    <img src="images/loading.gif" />
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
