<%@ Control Language="vb" AutoEventWireup="false" Inherits="SIAMAdmin.TrainingDataSubNavigation" CodeFile="TrainingDataSubNavigation.ascx.vb" %>
<table border="0" align="center" width="100%" bgcolor="#5d7180">
	<tr height="1">
		<td colspan="9" bgcolor="#000000"></td>
	</tr>
	<tr>
		<td align="center">
			<table border="0" cellspacing="0">				
				<tr height="25">
<%--					<td><a href="training-type-list.aspx" class="Nav3">View Type</a></td>
					<td width="5" align="center" class="Nav3">&nbsp;|&nbsp;</td>--%>
					<td><a href="training-majorcategory-list.aspx" class="Nav3">View Major Category</a></td>
					<td width="5" align="center" class="Nav3">&nbsp;|&nbsp;</td>
					<td><a href="training-minorcategory-list.aspx" class="Nav3">View Minor Category</a></td>
					<td width="5" align="center" class="Nav3">&nbsp;|&nbsp;</td>
					<td><a href="training-model-list.aspx" class="Nav3">View Model</a></td>
					<td width="5" align="center" class="Nav3">&nbsp;|&nbsp;</td>
					<td><a href="training-location-list.aspx" class="Nav3">View Location</a></td>
					<td width="5" align="center" class="Nav3">&nbsp;|&nbsp;</td>
					<td><a href="training-course-list.aspx" class="Nav3">View Course</a></td>
					<td width="5" align="center" class="Nav3">&nbsp;|&nbsp;</td>
					<td><a href="training-class-list.aspx" class="Nav3">View Class</a></td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr height="1">
		<td colspan="9" bgcolor="#000000"></td>
	</tr>
</table>
