.Menu
{
    font-size: 11px;
    font-family: Arial;
    font-weight:bold;
    padding: 3px;
    color: white; 
    height: 22px;
    /*background-image: url(Images/1_10.gif);  */
   /* background-color: #CFCEC9;*/
     /*filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6496b4,endColorStr=LightSteelBlue);*/
}     

.Menu a:link
{
    color: white; /* menu font color*/
    font-family: Arial;
    font-size: 12px;
    font-weight:normal;
    height: 50px;
}
        
.MenuItem
{
font-size: 12px;
font-family: Arial;
padding: 1.5px;
/*filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#144794,endColorStr=Lightsteelblue); /*background-color:Gray;*/
background-color:white;
text-align: left;
height:22px;
width: 155px;

}           
.menuItem td
{
	padding-top:50px;
	background-color:Red;
}
.menuSelectedItem 
{	
	color:Black;
	font-weight:normal;
	font-size: 12px;
	font-family: Arial;
	
}
.MenuItemstatic
{
	color:Black;
	font-weight:normal;
	font-size: 12px;
	font-family: Arial;
}
.menuSelectedItem td 
{	padding-top:0px;
	/*background-image: url(Images/up.JPG);*/
	/*background-color:#0a2888;	*/
	background-image:url(../../../Shared/Images/menu_line.jpg);
	height:18px;
	/*width:150px;*/
	font-size: 12px;
	font-family: Arial;
	text-decoration:none;	
}
.menuSelectedItem a:link 
{
	color:black;	
}


.DynamicMenuStyle
{
	z-index: 100;
}

.MenuDynamicItem
{
font-size: 12px;
font-family: Arial;
height:30px;
/*background-color:#8c8a79; sub menu back ground color*/
text-align:left;
border: solid 1px #0c5f9b;
/*border: solid 1px gray;border for sub menu*/
width:182px;
}

.MenuDynamicItem a
{
font-size: 12px;
font-weight:normal;
color:white;
height:24px;
}

.MenuDynamicItem a:link
{
color: #0c5f9b; /*menu text color*/
font-family: Arial;
font-size: 12px;
font-weight:normal;
 height:24px;
}

.MenuDynamicItem a:hover
{
font-family: Arial;
font-size: 12px;
font-weight:normal;
height:24px;
color:#d57b0d;
}

.MenuDynamicItem td
{	background-color:white;	
}

.MenuDynamicItem td:hover 
{	/*background-color:#727272 ;*/
	/*background-color:#CFCEC9 ;*/
		
}

.submenu
{
color: red;
font-family: Arial;
font-size: 11px;

}
.menutd
{
	background-image: url(../../../Shared/Images/1_10.gif);
}
/*background ..................... starts*/
.banner
{
	BACKGROUND-IMAGE: url(../../../Shared/Images/swplus-header.JPG);
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 124px;
}
.bannermiddle
{
	BACKGROUND-IMAGE: url(../../../Shared/Images/line.JPG);
	BACKGROUND-REPEAT: repeat-y;
}
.bannerbottom
{
	BACKGROUND-IMAGE: url(../../../Shared/Images/fotter.gif);
	BACKGROUND-REPEAT: no-repeat;
	height:39px;
}
.tdbgtop
{
	background-image:url(../../../Shared/Images/top1.JPG);
	background-repeat:no-repeat;
	height:33px;
}
.tdbgtop2
{
	background-image:url(../../../Shared/Images/top2.JPG);
	background-repeat:no-repeat;
	height:33px;
}
.tdbgmiddle
{
	background-image:url(~/Shared/Images/middle.jpg);
	background-repeat:repeat-y;	
}
.tdbgbottom
{
	background-image:url(~/Shared/Images/bottom.jpg);
	background-repeat:no-repeat;
	height:12px;
}
.tdbgtops
{
	background-image:url(~/Shared/Images/tops.jpg);
	background-repeat:no-repeat;
	height:8px;
}
.tdbgmiddles
{
	background-image:url(~/Shared/Images/middles.jpg);
	background-repeat:repeat-y;	
}
.tdbgbottoms
{
	background-image:url(~/Shared/Images/bottoms.jpg);
	background-repeat:no-repeat;
	height:8px;
}
.tdbgtop7
{
	background-image:url(~/Shared/Images/top7.jpg);
	background-repeat:no-repeat;
	height:12px;
}
.tdbgmiddle7
{
	background-image:url(~/Shared/Images/middle7.jpg);
	background-repeat:repeat-y;	
}
.tdbgbottom7
{
	background-image:url(~/Shared/Images/bottom7.jpg);
	background-repeat:no-repeat;
	height:12px;
}
/*background end...................... */