<%@ Control Language="vb" AutoEventWireup="false" Inherits="ServicePLUSWebApp.CartItemsAndTotalControl" CodeFile="CartItemsAndTotalControl.ascx.vb" %>
<asp:Literal id="displayLiteral" runat="server"></asp:Literal>
