<%@ Control Language="vb" AutoEventWireup="false" Inherits="ServicePLUSWebApp.PromotionInsert" CodeFile="TrainingPromotionInsert.ascx.vb" %>
<LINK href="includes/ServicesPLUS_style.css" type="text/css" rel="stylesheet">
<script language="javascript" src="includes/ServicesPLUS.js" type="text/javascript"></script> 

<table height="16" style="width: 713px; border: none;" role="presentation">
	<tr>
		<td width="20" height="16"></td>
		<td width="670" height="16"></td>
		<td width="20" height="16"></td>
	</tr>
</table>
